body{
	margin: 0;
	padding: 0;
	font-family: Verdana;
}
header{
	width: 100%;
	background-color: black;
	min-height: 90px;
	position: fixed;
	overflow: hidden;
}
h1, h2, h3, h4, h5{
	margin: 0;
}
div{
	margin:0;
	padding: 0;
}

#logo{
	float: left;
	min-height: 3rem;
}
#logo img{
	padding-left: 30px;
	height: 80px;
}
nav{
	float: right;
}
nav ul{
	padding: 15px 30px 0 0;
	text-transform: uppercase;
}
nav ul li{
	display: inline;
	padding-left: 20px;
}
nav ul li a{
	list-style-type: none;
	font-size: 20px;
	text-decoration: none;
	padding-right: 10px;
	color: white;
}
#container{
	margin: auto;
	max-width: 1366px;
}
#inner-container{
	padding-top:100px;

}
#container #inner-container #checklist{
	margin: auto;
	height: 30rem;
	width: 30rem;
	background-color: #1b3c35;
	text-align: center;
	color: white;
	padding: 7px 0 7px 0;
}
#container #inner-container #checklist #itemlist{
	margin: auto;
	height: 20rem;
	width: 27rem;
	background-color: white;	
}

footer{
	padding-top: 19px;
	text-align: center;
	height: 2.5rem;
	background-color: black;
	color: white;
}
